
backend/venv/
venv/
__pycache__/
backend/.pytest_cache/
*.pyc
.env
extra/
# Django
db.sqlite3
staticfiles/

# Node / Frontend
sweet-shop-frontend/node_modules/
node_modules/
dist/
build/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db
