services:
  frontend:
    build:
      context: ./sweet-shop-frontend
      dockerfile: Dockerfile
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
    volumes:
      - ./sweet-shop-frontend:/usr/src/app
    command: npm run dev

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: python_app
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    command:
      sh -c "python manage.py migrate --noinput &&
             python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_DB: sweet_shop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tarun
    volumes:
      - postgres_data:/var/lib/postgresql  

volumes:
  postgres_data:

